@font-face {
  font-family: Cormo;
  src: url("../fonts/Cormorant_Garamond/CormorantGaramond-Medium.ttf");
}

@font-face {
  font-family: CormoB;
  src: url("../fonts/Cormorant_Garamond/CormorantGaramond-Bold.ttf");
}

@font-face {
  font-family: CormoL;
  src: url("../fonts/Cormorant_Garamond/CormorantGaramond-Light.ttf");
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
  font-family: Cormo, Arial, Helvetica, sans-serif;
  color: black;
}

body {
  background-color: #e9e9e0;
  width: 1185px;
  height: 909px;
  margin: 0 auto;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

p {
  font-family: CormoL, Arial, Helvetica, sans-serif;
}

/* Header */

header {
  padding-top: 1rem;
}

.title-header::first-letter,
.news {
  font-size: 4.5rem;
}

.title-header {
  color: #333;
  text-align: center;
  font-size: 3rem;
  font-weight: 700;
  height: 6.5rem;
}

.title-header .number {
  font-size: 3rem;
}

nav {
  padding: 0.8rem 0;
  justify-content: center;
  align-items: center;
}

.nav-list {
  display: flex;
  border-top: 4px solid black;
  border-bottom: 4px solid black;
}

.nav-list {
  justify-content: space-around;
}

.nav-item {
  padding: 0.3rem 0;
  font-family: CormoL;
}

/* main */

main {
  display: grid;
  grid-template-columns: repeat(5, 1fr);

  grid-template-areas:
    "title title title title aside"
    "text text foto foto aside"
    "text text foto foto aside"
    "text text foto foto aside"
    "text text foto foto aside";
}

.title {
  grid-area: title;
}

.text {
  grid-area: text;
}

.foto {
  grid-area: foto;
}

aside {
  grid-area: aside;
}

/* title */

.kitchen-title {
  color: #333;
  text-align: center;
  font-family: CormoB;
  font-size: 35px;
  font-weight: 700;
  padding-top: 2rem;
  padding-bottom: 1.3rem;
}

/* text */

.text {
  height: 78vh;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: 15% 31.4% 50.4%;
  gap: 1rem;
  grid-template-areas:
    "article1 article4"
    "article2 article5"
    "article3 article6";
}

.article1 {
  grid-area: article1;
}
.article2 {
  grid-area: article2;
}
.article3 {
  grid-area: article3;
}
.article4 {
  grid-area: article4;
}
.article5 {
  grid-area: article5;
}
.article6 {
  grid-area: article6;
}

.text article h3 {
  color: #333;
  font-size: 2.4rem;
  font-family: CormoB, Arial, Helvetica, sans-serif;
  font-weight: 700;
  line-height: normal;
}

.text article p {
  color: #333;
  font-size: 1.6rem;
  font-weight: 400;
}

/* img */

.ikea-img {
  width: 15vw;
  height: auto;
}

.kitchen-img {
  padding: 0 1rem;
  width: 39.5vw;
  /* height: 64.5vh; */
}

/* aside */

aside {
  display: flex;
  flex-direction: column;
  row-gap: 2rem;
}

.aside-title {
  text-align: center;
  font-size: 1.8rem;
  padding-top: 2.5rem;
  font-family: CormoB, Arial, Helvetica, sans-serif;
  font-weight: 700;
}

.aside-section {
  height: 28%;
  border: 4px solid black;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.aside-section:first-of-type H3 {
  text-align: center;
  font-size: 5rem;
  font-weight: 700;
  font-family: CormoB, Arial, Helvetica, sans-serif;
}

.aside-section:nth-of-type(2) {
  padding: 0 2.8rem;
  text-align: center;
}

.aside-section:nth-of-type(2) H3 {
  font-size: 2.4rem;
  font-weight: 700;
}

.aside-section:nth-of-type(2) p {
  font-size: 1.6rem;
  font-weight: 400;
}

.aside-section:nth-of-type(2) a {
  color: #737b80;
  font-size: 2rem;
  font-weight: 400;
}

.aside-section:nth-of-type(3) {
  padding: 2.5rem;
}
